listen=YES
write_enable=YES
use_localtime=YES
xferlog_enable=YES
#connect_from_port_20=YES
nopriv_user=svc_ftp
guest_username=svc_ftp
chown_uploads=YES
chown_username=svc_ftp
secure_chroot_dir=/var/run/vsftpd/empty
pam_service_name=vsftpd
rsa_private_key_file={{getv "/vsftpd/ssl/privatekey"}}
rsa_cert_file={{getv "/vsftpd/ssl/publickey"}}
ssl_enable={{getv "/vsftpd/ssl/enable"}}
ssl_tlsv1={{getv "/vsftpd/ssl/tlsv1"}}
ssl_sslv2={{getv "/vsftpd/ssl/sslv2"}}
ssl_sslv3={{getv "/vsftpd/ssl/sslv3"}}
ssl_ciphers={{getv "/vsftpd/ssl/ciphers"}}
debug_ssl=NO
force_dot_files=NO
hide_ids=NO
virtual_use_local_privs=YES
anonymous_enable=NO
local_enable=YES
guest_enable=YES
#local_root=/home/vftp/$USER
local_root=/home/vftp
allow_writeable_chroot=YES
chroot_local_user=YES
log_ftp_protocol=YES
dual_log_enable=YES
delay_failed_login=3
pasv_enable={{getv "/vsftpd/pasv/enable"}}
pasv_min_port={{getv "/vsftpd/pasv/min/port"}}
pasv_max_port={{getv "/vsftpd/pasv/max/port"}}
pasv_address={{getv "/vsftpd/pasv/address"}}
session_support=YES
